<a href="https://colab.research.google.com/github/syamsulmuariff/data_analyst/blob/main/Uts_analisis_sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install google-search-results

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting google-search-results
  Downloading google_search_results-2.4.1.tar.gz (11 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from google-search-results) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->google-search-results) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->google-search-results) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->google-search-results) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->google-search-results) (2022.9.24)
Building wheels for collected packages: google-search-results
  Building wheel for google-search-results (setup.py) ... done
  Created wheel for google-search-results: filename=google_search_results-2.4.1-py3-none-any.whl size=25789 sha256=d469c791883a68ad5332f054f0379198739d7f24737e3c13350c9999faadaa57
  Stored in directory: /root/.cache/pip/wheels/82/a3/c5/364155118f298722dff2f79ae4dd7c91e92b433ad36d6f7e0e
Successfully built google-search-results
Installing collected packages: google-search-results
Successfully installed google-search-results-2.4.1

In [ ]:
from serpapi import GoogleSearch
from urllib.parse import *

In [ ]:
params = {
  "engine": "google_maps",
  "q": "restaurant",
  "ll": "@-6.9590302,110.43097569999999,14z",
  "type": "search",
  "api_key": "82fa2dadb12b344c3d774d974376e831145f2cf05e501ba2672ea6f89a80ac2f"
}

search = GoogleSearch(params)

mData = 0 # Angka indeks dari data
mJumlah = 6 # Batas jumlah data yang ditampilkan
local_results = []

while mData <= mJumlah:
  results = search.get_dict()

  for result in results["local_results"]:
    mData += 1
    
    if mData <= mJumlah:
      
      # Jika jumlah review kurang dari 100, maka jangan masukkan datanya
      if result["reviews"] <100 :
        mJumlah += 1
        continue
        
      # Append data sesuai dengan batas jumlah yang sudah ditentukan
      local_results.append({'title': result["title"],
                           'data_id': result["data_id"],
                           'reviews_total': result["reviews"]});

  if "next" in results.get("serpapi_pagination", {}):
    # Akan mengubah parameter dari 'GoogleSearch()' dengan isi parameter dari halaman selanjutnya
    search.params_dict.update(dict(parse_qsl(urlsplit(results.get("serpapi_pagination").get("next")).query)))

  else:
    break

https://serpapi.com/search

In [ ]:
for rvw in local_results:
  print(rvw)

{'title': 'Bowery Restaurant', 'data_id': '0x2e708ca0a6687807:0x6be16d75837358ac', 'reviews_total': 2332}
{'title': 'Marquess Restaurant', 'data_id': '0x2e708b5482ee6359:0x14ca9ec8c3038590', 'reviews_total': 101}
{'title': 'Restaurant Semarang', 'data_id': '0x2e708b56df02dc67:0xa304522600b995b7', 'reviews_total': 375}
{'title': 'Permata Restaurant', 'data_id': '0x2e708b54d0e69f3d:0xaaeae80f775056bb', 'reviews_total': 700}
{'title': 'Holliday Restaurant', 'data_id': '0x2e708b4f70965db3:0x86e4af05e2038c32', 'reviews_total': 4162}
{'title': 'Rempah Mewah Manado Restaurant', 'data_id': '0x2e708dc2dfff3169:0x24f1aa5f2d66fea9', 'reviews_total': 263}

In [ ]:
data = {'restaurant':[],
        'name':[],
        'rating':[],
        'review':[]}

for rvw in local_results:
  
  params = {
    "engine": "google_maps_reviews",
    "data_id": "",
    "api_key": "82fa2dadb12b344c3d774d974376e831145f2cf05e501ba2672ea6f89a80ac2f"
  }
  
  params["data_id"] = rvw['data_id']

  search = GoogleSearch(params)

  mData = 0 # Angka indeks dari data
  mJumlah = 50 # Batas jumlah data yang ditampilkan

  while mData <= mJumlah:
    results = search.get_dict()

    for result in results["reviews"]:
      mData += 1

      if mData <= mJumlah:
        # Append data sesuai dengan batas jumlah yang sudah ditentukan
        data['restaurant'].append(rvw['title']);
        data['name'].append(result["user"]["name"]);
        data['rating'].append(result["rating"]);
        data['review'].append(result["snippet"]);
        

    if "next" in results.get("serpapi_pagination", {}):
      # Akan mengubah parameter dari 'GoogleSearch()' dengan isi parameter dari halaman selanjutnya
      search.params_dict.update(dict(parse_qsl(urlsplit(results.get("serpapi_pagination").get("next")).query)))

    else:
      break
    
review_original = data['review']

https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search
https://serpapi.com/search

In [ ]:
import pandas as pd

In [ ]:
df_original = pd.DataFrame(data)
df_original.to_csv('csv/review_tanpa_preprocessing.csv', index=False)

In [ ]:
df_original

,restaurant,name,rating,review
0,Bowery Restaurant,F Paul,4.0,What an interesting place. We came on a weeken...
1,Bowery Restaurant,Alan Karyono,5.0,Foods are good. Tried the duck menu (bebek gor...
2,Bowery Restaurant,faozan rizal. ICS,5.0,Very nice eating spot for Semarang with fusion...
3,Bowery Restaurant,Rina,3.0,"Nice place, great interior, cozy, but i don’t ..."
4,Bowery Restaurant,mia k,5.0,Nice fine dining experience in semarang town. ...
...,...,...,...,...
295,Rempah Mewah Manado Restaurant,Hafizh Suhada,5.0,(Translated by Google) Surprised by reviews of...
296,Rempah Mewah Manado Restaurant,Ittea Kusuma,4.0,(Translated by Google) A comfortable and nice ...
297,Rempah Mewah Manado Restaurant,Coffee Space,5.0,(Translated by Google) Mantabh👍👍👍 Really recom...
298,Rempah Mewah Manado Restaurant,Lina,4.0,(Translated by Google) The place is one with t...
299,Rempah Mewah Manado Restaurant,Randang Yesha,3.0,(Translated by Google) The place is quite comf...

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.naive_bayes import MultinomialNB
from collections import Counter
import re

import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer


from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
df = pd.read_csv('csv/review_tanpa_preprocessing.csv',encoding = "ISO-8859-1")
df.head()

,restaurant,name,rating,review
0,Bowery Restaurant,F Paul,4.0,What an interesting place. We came on a weeken...
1,Bowery Restaurant,Alan Karyono,5.0,Foods are good. Tried the duck menu (bebek gor...
2,Bowery Restaurant,faozan rizal. ICS,5.0,Very nice eating spot for Semarang with fusion...
3,Bowery Restaurant,Rina,3.0,"Nice place, great interior, cozy, but i donâ..."
4,Bowery Restaurant,mia k,5.0,Nice fine dining experience in semarang town. ...